footer {
    background-color: #096e6e;
    bottom: 0;
    width: 100%;
    margin-top: auto; }

.footerSection {
    padding: 10px;
    margin: 10px;
    margin-top: auto; }

.footerLinks a {
    color: white;
    text-decoration: none; }