
.active {
        color: aquamarine !important;
}

.navColor {
    background-color : map-get($colores, color-primario);
}

header{
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 40px;
        text-decoration: none;
        transition: background-color 1.5s ;
    }

}
a:hover {
    background-color: map-get($colores, color-activo-fondo);
}