$colores: (
    color-primario: #096e6e,
    color-activo: aquamarine,
    color-secundario: azure,
    color-borde: rgba(0, 0, 0, 0.331),
    color-fondo: rgba(102, 102, 102, 0.2),
    color-activo-fondo: darkslategray,
)
