@import "variables" ;
@import "footer" ;
@import "header";

* {
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

footer {
    background-color: #096e6e;
    bottom: 0;
    width: 100%;
    margin-top: auto; }

.footerSection {
    padding: 10px;
    margin: 10px;
    margin-top: auto; }

.footerLinks a {
    color: white;
    text-decoration: none; }

body {
background-color: map-get($colores, color-secundario);
display: flex;
flex-direction: column;
min-height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid map-get($colores, color-primario);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: map-get($colores, color-fondo);
}

.principal {
    padding: 20px;
    margin-top: 55px;
}

.principalText {
    text-align: left;
    margin: auto;
    padding: 10px;
}

.Titulo {
    text-align: center; 
}

.center {
    text-align: center;
}

.ImageFullWidth {
    min-width: 336px;
    max-width: 100%;
    width: 100%;
    min-height: 280px;
    height: 400px;
    object-fit: cover;
}

/* CURSOS */
.cursos {
    font-size: 120%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5vw;
}

.CursoPasado {
    border: 1px solid map-get($colores, color-borde);
    background-color: map-get($colores, color-fondo);
    color: map-get($colores, color-borde);
    padding: 20px;
    text-align: center;
}

.CursoProximo {
    border: 1px solid map-get($colores, color-borde);
    padding: 20px;
    text-align: center;
}

.CursoActual>.CursoTitulo>h4 {
    color: map-get($colores, color-primario);
}

.CursoInfo {
    padding: 15px;
}

.cursos>div>div>img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.CursoActual {
    border: 4px solid map-get($colores, color-primario);
    padding: 20px;
    font-size: 130%;
    text-align: center;
}

.cursos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5vw;
}

@media only screen and (min-width: 600px) {
    .cursos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5vw;
    }
}

@media only screen and (min-width: 800px) {
    .cursos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5vw;
    }
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-areas:
        'foto1'
        'foto2'
        'foto3'
        'foto4'
        'foto5'
        'foto6';
    grid-template-columns: repeat(1, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    margin-top: 5vh;
}

@media only screen and (min-width: 800px) {
    .galeria {
        display: grid;
        grid-template-areas:
            'foto5 foto5 foto3 foto3 foto3 foto3'
            'foto5 foto5 foto4 foto2 foto2 foto2'
            'foto6 foto6 foto6 foto6 foto1 foto1';
        grid-template-columns: repeat(6, auto);
        align-content: stretch;
        gap: 10px;
        padding: 0.5vw;
    }
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@for $i from 1 through 6 {
    .foto#{$i}{
        grid-area: foto#{$i};
    }
}

.galeria>div {
    background-color: map-get($colores, color-fondo);
}



.contacto__main{
    min-height: 85vh;
    font-size: 16px;
    background-color: map-get($colores, color-secundario);
}
.contacto__contenedor{
    width: 90%;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
.contacto__contenedor{
    h1{
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }
}
.contacto__contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.contacto__contenido .contenido_info,
.contacto__contenido .contacto__formulario{
    width: 50%;
}
.contacto__info{
    padding-left: 10px;
    margin-right: 225px;
}
.contacto__info{
    .contacto__col{
        width: 100%;
        display: flex;
        margin-bottom: 15px;
        font-size: 16px;
        align-items: center;
        flex-wrap: nowrap;
    }
}
.contacto__info{
    .contacto__col{
        .icono{
            color: map-get($colores, color-primario);
            font-size: 20px;
        }
    }
}
.contacto__info{
    .contacto__col{
        p{
            color: map-get($colores, color-negro);
            line-height: 24px;
        }
    }
}
.contacto__info{
    .contacto__redes{
        width: 100%;
        overflow: hidden;
        padding-left: 25px;
        display: flex;
        flex-wrap: nowrap;
    }
}
.contacto__info{
    .contacto__redes{
        a{
            display: flex;
            width: 40px;
            height: 40px;
            background-color: map-get($colores, amarillo);
            color: map-get($colores, color-negro);
            justify-content: center;
            text-decoration: none;
            align-items: center;
            font-size: 18px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
            margin: 10px;
            &:hover{
                box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
                background-color: map-get($colores, color-primario);
                transform: scale(1.1);
                transition: 0.5s;
                color: map-get($colores, color-oscuro);
            }
        }
    }
}
.contacto__formulario{
    padding-left: 10px;
}
.contacto__formulario{
    input[type="text"]{
        width: 100%;
        margin-bottom: 15px;
        padding: 12px 20px;
        border: 1px solid map-get($colores, color-primario);
        color: map-get($colores, color-oscuro);
        font-weight: 400;
        outline: 0;
        &:focus{
            border: 2px solid map-get($colores, primario);
        }
    }
}
.contacto__formulario{
    input[type="email"]{
        width: 100%;
        margin-bottom: 15px;
        padding: 12px 20px;
        border: 1px solid map-get($colores, color-primario);
        color: map-get($colores, color-oscuro);
        font-weight: 400;
        outline: 0;
        &:focus{
            border: 2px solid map-get($colores, color-primario);
        }
    }
}
.contacto__formulario{
    input[type="number"]{
        width: 100%;
        margin-bottom: 15px;
        padding: 12px 20px;
        border: 1px solid map-get($colores, color-primario);
        color: map-get($colores, color-oscuro);
        font-weight: 400;
        outline: 0;
        &:focus{
            border: 2px solid map-get($colores, color-primario);
        }
    }
}
.contacto__formulario{
    textarea{
        width: 100%;
        margin-bottom: 15px;
        padding: 12px 20px;
        border: 1px solid map-get($colores, color-primario);
        color: map-get($colores, color-oscuro);
        font-weight: 400;
        outline: 0;
        max-width: 100%;
        min-width: 100%;
        min-height: 150px;
        max-height: 200px;
        &:focus{
            border: 2px solid map-get($colores, color-primario);
        }
    }
}
.contacto__formulario{
    button{
        padding: 12px 30px;
        border: transparent;
        background-color: map-get($colores, color-primario);
        color: map-get($colores, color-oscuro);
        cursor: pointer;
        float: right;
    }
}

.fa-solid {
    float: right;
    padding-right: 30px;
    text-decoration: none;
}

@media screen and (max-width: 1120px){
    .contacto__contenido{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .contacto__formulario{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        justify-content: center;
        align-items: center;
    }
    .contacto__contenedor{
        width: 90%;
    }
    .contacto__info{
        padding-left: 250px;
    }
}
@media screen and (max-width: 767px){
    .contacto__info{
        display: none;
    }
    .contacto__contenedor{
        width: 90%;
    }
}
@media screen and (max-width: 530px) {
    .contacto__contenedor{
        width: 90%;
    }
}